ul{
    list-style: none;
}

.recipe-list .card{
    min-height: 280px;
    position: relative;
}

.recipe-list .card .card-title{
    color: #50c878;
    font-weight: 600;
    font-family: 'Space Mono',monospace;
    margin: 0px !important;
}

.recipe-list .card p i{
    color: #50c878;
}

.recipe-list .card p{
    font-size: 14px;
    margin: 10px auto;
}

.recipe-list .card .card-text{
    color: rgba(0,0,0,0.7);
}

.recipe-list .card button{
    position: absolute;
    bottom: 7%;
}

.tags ul{
    margin: 10px 0px;
}
.tags ul li{
    display: inline-block;
    background: rgba(0,255,0,0.1);
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

span.bx-trash{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 20px;
    color: crimson;
    transition: .1s ease-in-out;
}

span.bx-trash:hover{
    font-weight: bold;
    transform: scale(1.05);
}