.create-recipe-form-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 10px;
    outline: none;
    padding: 30px;
    width: 60%;
    min-height: 40%;
  }

.create-recipe-form-modal hr{
    margin: 5px -30px;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-modal{
    position: absolute;
    top: 2%;
    right: 3%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 30px;
    border-radius: 50%;
    background: transparent;
    color: rgb(0,255,0);
    opacity: 0.7;
    transition: .5s ease-in-out;
}

.close-modal:hover{
    color: crimson;
    transform: scale(1.02);
    opacity: 1;
}

.summernote{
    width: 100% !important;
}

@media (max-width : 768px){

.create-recipe-form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 90%;
    height: 70%;

}

}
  